@import 'tailwindcss';

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.heading {
  font-weight: 800;
}

.form-heading {
  font-family: 'Delicious Handrawn', cursive;
  font-weight: 400;
}

.my-phone-input {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5px;
  font-size: 16px;
}

.my-phone-input input {
  border: none;
  outline: none;
  font-family: inherit;
  padding-left: 2px;
}

.PhoneInputCountrySelect {
  background-color: #1c1917;
  border: none;
}

.portfolio-label {
  position: relative;
}

.portfolio-label::after {
  content: '(optional)';
  font-size: 14px;
  position: absolute;
  top: 25px;
  left: 8px;
}

.searchList,
.searchList2 {
  position: absolute;
  width: 12rem;
  max-height: 150px;
  overflow-y: scroll;
  background-color: #1c1917;
  z-index: 100;
  box-shadow: 0 0 15px #8d8a88;
  overflow-y: auto;
  border-radius: 10px;
}

.searchList {
  top: 30px;
}

.searchList2 {
  top: 35px;
}

.searchList3,
.searchList4 {
  position: absolute;
  top: 35px;
  width: 12rem;
  max-height: 150px;
  overflow-y: scroll;
  background-color: #1c1917;
  z-index: 100;
  box-shadow: 0 0 15px #8d8a88;
  overflow-y: auto;
  border-radius: 10px;
}

@media (max-width: 639px) {
  .portfolio-label::after {
    top: 4px;
    left: 85px;
  }

  .searchList,
  .searchList2,
  .searchList3,
  .searchList4 {
    top: 45px;
    min-width: 12.5rem;
  }
}

.reference-list span {
  font-weight: 600;
}

.close-btn {
  position: absolute;
}
